trigger:
- main

variables:
  imageName: voting-app
  acrName: munivoteacr

stages:
- stage: Build
  displayName: Build and Push Docker Image
  jobs:
  - job: DockerBuild
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: Docker@2
      displayName: Build and Push Image to ACR
      inputs:
        containerRegistry: ACR-Service-Connection
        repository: $(imageName)
        command: buildAndPush
        Dockerfile: Dockerfile
        tags: |
          $(Build.BuildId)
